 <!-- <div class="container">
  <div class="row">
    <ul class="nav-nav-tabs">
      <li routeLinkActive="active">
        <a routerLink="/datainput">Data Entry </a>
      </li>
      <li routeLinkActive="active">
        <a routerLink="/dataoutput">Data Display </a>
      </li>
    </ul>
  </div>
  <div class="row">
    <router-outlet> </router-outlet>
  </div>
</div>  -->


<h1>Student Entry</h1>

<div>
  <a routerLink="/entry" routerLinkActive='active'>Data Entry</a>
  <a routerLink="/display" routerLinkActive='active'>Display Entry</a>
</div>

<div>
  <router-outlet></router-outlet>
</div>




<!-- <div>
  <label> Student Number </label> <input type = "text" [(ngModel)]="studNo"><br>
  <label> Student First Name </label> <input type = "text" [(ngModel)]="studFname"><br>
  <label> Student Last Name </label> <input type = "text" [(ngModel)]="studLname"><br>
  <label> Student Program </label> <input type = "text" [(ngModel)]="studProg"><br>
  <label> Student Year </label> <input type = "text" [(ngModel)]="studYr"><br>
</div> 

<div id = "options">
<button id = "addStudents" (click)="addStudentEntry()">   
  Add Student Entry
</button>

<button id = "listStudents" (click)="listStudents()">
List Students
</button>

</div>
<div>
{{messages}}

</div>

<div *ngIf="printing">
<table>

<thead>
  <tr>
    <th> Student Number </th>
    <th> First Name </th>
    <th> Last Name </th>
    <th> Program Enrolled </th>
    <th> Year </th>
  </tr>
</thead>
<tbody>
  <tr *ngFor = "let studentRecord of studentCollection">
    <td>{{studentRecord.studNumber}} </td>
    <td>{{studentRecord.studFirstName}} </td>
    <td>{{studentRecord.studLastName}} </td>
    <td>{{studentRecord.studProgram}} </td>
    <td>{{studentRecord.studYear}} </td>
  </tr>
</tbody>
</table>
</div> -->